body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
}

main {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    align-items: center;
    width: 302px;
    padding: 20px;
    border-radius: 10px;
}

.primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    align-items: center;
}

main h2 {
    color: white;
}

span.time-amount {
    color: hsl(215, 51%, 70%);
}

main p {
    color: hsl(215, 51%, 70%)
}

span.units {
    color: hsl(178, 100%, 50%);
}

span.creator {
    color: hsl(215, 51%, 70%);
}

span.name {
    color: white;
}
.hero {
    width: 302px;
    height: auto;
    border-radius: 10px;
}

p {
    font-size: 1.125em;
}

section.author {
    border-top: 3px solid hsl(215, 32%, 27%);
}

.author-icon {
    width: 35px;
    height: auto;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.author {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}










/*ATTRIBUTION*/

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}